.taskBarIn{
    opacity: 0.7;
    top: 10%;
}

.taskBarOut{
    opacity: 0;
    top: 0;
}

.task-bar{
    transition: top 1s, opacity 1s;
    position: absolute;
    border: solid 1px white;
    left: 30%;
    width: 315px !important;
    border-radius:3px;
}

.task-bar img{
    transition: width 1s;
    display: inline-block;
    padding: 20px;
    width: 65px;
    background-color: transparent;
}

.task-bar img:hover{
    width: 75px;
}