.budgetPanelIn{
    transition: top 2s, opacity 2s;
    left: 0;
    opacity: 1;
}

.budgetPanelOut{
    transition: top 2s, opacity 2s;
    left: -200px;
    opacity: 0;
}

.budget-panel{
    position: absolute;
    top:0;
}