.budgetPanelIn{
    left: 0;
    opacity: 0.8;
}

.budgetPanelOut{
    left: -200px;
    opacity: 0;
}

.budget-panel{
    transition: left 1s, opacity 1s;
    position: absolute;
    top:0;
    width: 200px !important;
    height: 100% !important;
}