.budgetPanelIn{
    left: 0;
    opacity: 0.8;
}

.budgetPanelOut{
    left: -20%;
    opacity: 0;
}

.budget-panel{
    transition: left 1s, opacity 1s;
    position: absolute;
    top:100%;
    width: 200px !important;
    height: 50% !important;
}