.tech-panel{
    transition: top 1s, opacity 1s;
    position: absolute;
    width: 63% !important;
    height: 150px !important;
    background-color: black;
}

.techPanelOut{
    opacity: 0;
    left: 100%;
}

.techPanelIn{
    opacity: 0.8;
    left: 14%
}